
.projectWrapper > h2 {
  font-size: 35px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    align-items: center;
    justify-items: center;
    max-height: 100%;
    max-width: 100%;
    padding: 15px;
    }

  .grid > article {
    border: 1px solid rgb(97, 96, 96);
    box-shadow: 2px 2px 6px 0px  rgba(22, 21, 21, 0.4);
    width: 300px;
    height: 400px;
  }

  .grid > article img {
    width: 100%;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
  }

  .text {
    padding: 20px 20px 20px 20px;
  }

  .text > p, h3 {
    padding-bottom: 15px;
    text-align: center;
  }

  .text > p > strong > a {
    color: rgb(74, 74, 180);
  }

  .text > button {
    background: rgb(92, 154, 161);
    border: 0;
    padding: 10px;
    width: 100%;
    }

    .text > button > a {
      color: antiquewhite;
      font-size: 14px;
    }