/* Idea has been taken from https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  /* Allow the user to vertically resize the textarea */
  resize: vertical;
}

#message {
  height: 100px;
  max-height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial, sans-serif';
}


button {
  float: right;
  background-color: #3a46b5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button:hover {
  background-color: #263675;
}

/* Add a background color and some padding around the form */
.formContainer {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  border-radius: 5px;
  background-color: #f2f2f2;
  justify-content: center;
}

#contact-form > h2 {
  font-size: 35px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

/* When the user type invalid input in the form, the message in the feedback area is red */
.error {
  color: rgb(136, 34, 34);
}

/* When the user type valid input in the form, the message in the feedback area will be green */
.success {
  color: rgb(37, 110, 37);
}
